@import '../../sass/main.scss';

.about_main{
    &_collapse{
        padding: 0 15px;
        margin: 40px auto;
        @media screen and (max-width: 550px){
            margin: 20px auto;
        }
    }
}