@import '../../sass/main.scss';

.accomodation{
    &_content{
        @include flex(row, space-between, flex-start);
        color: $color-secondary;
        padding: 0 15px;
        @media screen and (max-width: 650px){
            @include flex(column, space-between, flex-start);   
            gap: 10px;   
        }
        &_infos{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            h1{
                font-size: clamp(25px, 2vw, 35px);
            }
            p{
                font-size: clamp(18px, 2vw, 20px);
            }
            button{
                display: inline;
                padding: 10px 15px;
                cursor: pointer;
                font-size: clamp(16px, 2vw, 20px);
                border: none;
                color: $color-primary;
                background-color: $color-secondary;
            }
            div{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;  
            }
        }
        &_host{
            display: flex;
            flex-direction: column;
            gap: 5px;
            @media screen and (max-width: 650px){
                width: 100%;
                @include flex(row-reverse, space-between, center);     
            }
            div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 0 10px;
                @media screen and (max-width: 500px){
                    gap: 0 5px;   
                }
            }
            &_name{
                align-self: center;
                flex-direction: column;
            }
            img{
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            &_stars{
                display: flex;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    @media screen and (max-width: 650px){
                        width: 20px;
                        height: 20px;  
                    }
                }
            }
        }
    }
}