@import '../../sass/main.scss';

.accomodation_wrapper{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
    @media screen and (max-width: 500px){
        min-height: calc(100vh - 20px);
    }
}

.accomodation{
    flex-grow: 1;
    &_content{
        @include flex(row, space-between, flex-start);
        color: $color-secondary;
        width: 95%;
        margin: 0 auto;
        @media screen and (max-width: 650px){
            @include flex(column, space-between, flex-start);   
            gap: 10px;   
        }
        &_infos{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 500;
            h1{
                font-size: clamp(18px, 3vw, 36px);
            }
            p{
                font-size: clamp(14px, 1.6vw, 18px);
            }
            button{
                display: inline;
                padding: 5px 15px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 10px;
                border: none;
                color: $color-primary;
                background-color: $color-secondary;
                font-size: clamp(10px, 1.4vw, 14px);
                &:hover{
                    box-shadow: 0 2px 8px rgb(0, 0, 0);
                }
            }
            div{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;  
            }
        }
        &_host{
            display: flex;
            flex-direction: column;
            gap: 5px;
            @media screen and (max-width: 650px){
                width: 100%;
                @include flex(row-reverse, space-between, center);     
            }
            div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 0 10px;
                font-size: clamp(12px, 1.6vw, 18px);
                @media screen and (max-width: 500px){
                    gap: 0 5px;   
                }
            }
            &_name{
                align-self: center;
                flex-direction: column;
            }
            img{
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
            &_stars{
                display: flex;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    @media screen and (max-width: 650px){
                        width: 20px;
                        height: 20px;  
                    }
                }
            }
        }
    }
}
.custom-collapse{
    font-size: 10px;
}