@import '../../sass/main.scss';

.collapse{
    background-color: $color-tertiary;
    &_title{
        @include flex(row, space-between, center);
        background-color: $color-secondary;
        color: $color-primary;
        font-weight: 500;
        font-size: clamp(16px, 2vw, 20px);
        padding: 10px 15px;
        cursor: pointer;
        .arrow{
            transition: all 0.2s ease-in-out;
            @media screen and (max-width: 1230px){
                width: 12px;     
            }
        }
        .arrow_up{
            transform: rotate(0deg);
        }
        .arrow_down{
            transform: rotate(180deg);
        }
    }
    &_content{
        display: flex;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 10px;
        letter-spacing: 1px;
        color: $color-secondary;
        font-size: clamp(14px, 1.8vw, 18px);
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
    }
    &_content_hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

.accomodation_collapse{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 0 15px;
    margin: 30px auto;
    &_item{
        width: 50%;
    }
    @media screen and (max-width: 650px){
        flex-direction: column;
        gap: 20px;
        margin: 20px auto;
        &_item{
            width: 100%;
        }    
    }
}