@import '../../sass/main.scss';

.header{
    @include flex(row, space-between, center);
    padding: 0 15px;
    img{
        height: 60%;
        @media screen and (max-width: 700px){
            height: 35px;
        }
    }
}