@import '../../sass/main.scss';

.home_gallery{
    @include flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: $color-tertiary;
    padding: 25px;
    margin: 0 auto;
    @media screen and (max-width: 1230px){
        padding:25px 15px;       
    }
    @media screen and (max-width: 550px){  
        width: 100%;
    }
}