@import '../../sass/main.scss';

.home_gallery{
    @include flex;
    flex-wrap: wrap;
    gap: 50px;
    background-color: $color-tertiary;
    padding: 50px;
    border-radius: 25px;
    width: 95%;
    margin: 0 auto;
    @media screen and (max-width: 1230px){
        gap: 25px; 
        padding:25px 15px;       
    }
    @media screen and (max-width: 550px){  
        width: 100%;
    }
}