@import '../../sass/main.scss';

.carousel{
    position: relative;
    width: 95%;
    border-radius: 25px;
    overflow: hidden;
    margin: 43px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    @media screen and (max-width: 650px){
        margin: 20px auto;   
    }
    &_arrow{
        position: absolute;
        top: 50%;
        height: 10%;
        transform: translateY(-50%);
        cursor: pointer;
        &:active{
            transform: translateY(-50%) scale(0.9);
        }
        &_right{
            right: 25px;
        }
        &_left{
            left: 25px;
        }
    }
    .slideCount{
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $color-primary;
        font-weight: 500;
        font-size: clamp(14px, 2vw, 18px);
    }
}