@import '../../sass/main.scss';

.footer{
    @include flex(column);
    gap: 20px;
    width: 100%;
    padding: 20px 0;
    background-color: #000;
    font-size: clamp(14px, 2vw, 20px);
    &_copyright{
        color: $color-primary;
    }
}