@import '../../sass/main.scss';

.banner{
    position: relative;
    @include flex;
    background-color: $color-secondary;
    height: 223px;
    padding: 20px;
    margin: 43px auto;
    @media screen and (max-width: 550px){
        margin: 20px auto;
        height: 120px;
    }
    &_about{
        position: relative;
        @include flex;
        height: 223px;
        margin: 43px auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/about_cover.png');
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 550px){
            margin: 20px auto;
            height: 120px;
        }
    }
    h2{
        color: $color-primary;
        font-size: clamp(20px, 4vw, 48px);
        font-weight: 500;
        text-align: center;
    }
}

