@import '../../sass/main.scss';

.banner,
.banner_about {
    position: relative;
    @include flex;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    height: 223px;
    width: 100%;
    padding: 20px;
    max-width: 95%;
    margin: 43px auto;

    @media screen and (max-width: 550px) {
        margin: 20px auto;
        height: 120px;
    }

    h2 {
        color: $color-primary;
        font-size: clamp(24px, 4vw, 48px);
        font-weight: 500;
    }
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/home_cover.png');

    &_about {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/about_cover.png');
    }
}