@import '../../sass/main.scss';

.banner, .banner_about{
    @include flex;
    background-image: linear-gradient(147deg, transparent 0%, transparent 8%,rgba(63, 106, 202,0.08) 8%, rgba(63, 106, 202,0.08) 46%,transparent 46%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 21%,rgba(63, 106, 202,0.08) 21%, rgba(63, 106, 202,0.08) 53%,transparent 53%, transparent 100%),linear-gradient(288deg, transparent 0%, transparent 35%,rgba(63, 106, 202,0.08) 35%, rgba(46, 81, 157, 0.08) 91%,transparent 91%, transparent 100%),linear-gradient(90deg, #a61c33,#a61c33);
    height: 220px;
    padding: 20px;
    margin: 40px auto;
    width: 100%;
    @media screen and (max-width: 550px){
        margin: 20px auto;
        height: 120px;
    }
    h2{
        color: $color-primary;
        font-size: clamp(18px, 5vw, 48px);
        font-weight: 500;
    }
}